*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sarpanch;
}

body{
    background-color: #2d335b;
}

.branco{
    background-color: #d9d9d9;
    width: 40%;
    height: 700px;
    border-radius: 16px;
    margin-top: 5%;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
}

.login{
    padding: 30px;
    font-size: 30px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

.login-form label{
    font-size: 30px;
}

.login-form input{
    height: 50px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    padding-left: 15px;
}

.esqueci{
    text-align: right;
    text-decoration: underline;
    color: rgb(75, 75, 75);
    margin-right: 15px;
    font-size: 19px;
}

.login-button{
    background-color: purple;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 16px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.login-button:hover{
    background-color: rgb(90, 0, 90);
}

.login-button:active{
    transform: scale(0.92);
}

.cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.cadastro-button{
    background-color: purple;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: auto;
}

.cadastro-button:active{
    transform: scale(0.92);
}

.cadastro-button:hover{
    background-color: rgb(90, 0, 90);
}

@font-face {
    font-family: Sarpanch;
    src: url(Sarpanch/Sarpanch-Regular.ttf);
}

.flex{
    display: flex;
    /* gap: 100px; */
    justify-content: space-around;
    margin: 0px 5% 0px 5%;
}

.return{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 30px;
}

.bottom{
    position: absolute;
    margin-top: 90px;
}

.vertical{
    transform: rotate(90);
    margin-top: 100px;
}

@media screen and (max-width: 970px){
    .flex{
        flex-direction: column;
    }

    .branco{
        width: 100%;
    }

    .bottom{
        margin-top: 20px;
    }

    .vertical{
        margin-bottom: 100px;
    }
}