* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Arial, sans-serif;
}
body {
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #007;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.container{
    background-color: pink;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.479);
}

.botao{
    background-color: #28a275;
    color: white;
    border: none;
    border-radius: 8px;
    width: auto;
    padding: 8px 8px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.5s all;
}

.botao:hover{
    background-color: #1c7453;
}

.botao:active{
    transform: scale(0.95);
}

footer{
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20x;
    font-size: 14px;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.menu li a{
    color: saddlebrown;
    text-decoration: none;
    font-weight: bold;
}

.menu li{
    text-decoration: underline;
}

.lista-topicos{
    list-style: none;
}
