<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu Gi Oh db</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='criar_tutorial.css') }}">
    <link rel="icon" type="image/webp" href="https://media.printables.com/media/prints/558196/images/4476391_5291ef30-8b78-4b46-8814-29786bf849e4/thumbs/inside/1280x960/webp/tumblr_msd6grr3bx1qk43wto1_500.webp">
</head>
<body>
    <!--Cabeçalho-->
    <header>
        <nav class="nav-sup" id="navbar">
            <img src="../static/uploads/ygo-md.webp" alt="logo Yu Gi Oh Master Duel" class="logo-ygo">
            <a href="{{ url_for('tutoriais') }}">Tutoriais/Dicas</a>
            <a href="{{ url_for('decks') }}">Ver decks</a>
            <a href="{{ url_for('index') }}"><img src="../static/uploads/Yu-Gi-OhLogo.webp" alt="Logo do Yu Gi Oh" class="logo-central"></a>
            <input class="pesquisa" type="search" placeholder="Pesquisar">
            <a href="{{ url_for('sobre') }}">Sobre nós</a>
            <img onclick="mostarPopup()" class="perfil" src="../static/uploads/perfil.png" alt="Perfil">
        </nav>
    <!-- pop-up -->
    <div id="popup" class="pop_up">
        {% if tipo_user == 'normal' %}
            <section class="user_on">
                <a href="{{ url_for('dados') }}">Dados do usuario</a> <br> <br>
                <a href="{{ url_for('deck_fav') }}">Decks favoritos</a> <br> <br>
                <a class="vermelho" href="/logout">Logout</a>
            </section>
        {% elif tipo_user == 'admin' %}
            <section class="user_on">
                <a href="{{ url_for('dados') }}">Dados do usuario</a> <br>
                <a href="{{ url_for('deck_fav') }}">Decks favoritos</a> <br>
                <a href="{{ url_for('criar_tutorial') }}">Criar tutorial</a> <br>
                <a href="{{ url_for('criar_deck') }}">Criar deck</a> <br>
                <a href="{{ url_for('criar_noticia') }}">Criar noticia</a> <br>
                <a class="vermelho" href="/logout">Logout</a>
            </section>
        {% else %}
            <section class="user_off">
                <p>Você não fez login ainda</p> <br>
                <a href="{{ url_for('login') }}" id="cadastrar_botao">Fazer login/Cadastrar</a>
            </section>
        {%endif%} <br>
        <p id="fechar_popup" onclick="fecharPopup()">Fechar X</p>
    </div>
    <!-- script js -->
    <script>
        function mostarPopup() {
            document.getElementById('popup').style.display='block'
        }

        function fecharPopup(){
            document.getElementById('popup').style.display='none';
        }
    </script>
    </header>
    <!--Corpo principal-->
    <main class="principal">
        <h1>Criar tutorial</h1>
        <section id="sessao">
            <form method="POST" enctype="multipart/form-data" id="formulario_tutorial">
                <label>Titulo: </label>
                <input type="text" placeholder="Nome do tutorial" name="titulo" required>
                <label>Resumo sobre o tutorial: </label>
                <textarea name="resumo" rows="10" cols="30" required placeholder="Digite aqui o resumo do tutorial"></textarea>
                <label>Carta principal do tutorial: </label>
                <input type="file" required name="imagem_tutorial">
                <p>png,jpg ou jpeg</p> <br>
                <label>Texto principal: </label>
                <textarea name="funcionamento" cols="30" rows="10"></textarea>
                <button type="submit" id="enviar">Enviar</button>
            </form>
            {% if erro %}
                <p>{{ erro }}</p>
            {% endif %}
        </section>
    </main>
</body>
</html>