<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='sobre.css') }}">
    <link rel="icon" type="image/webp" href="https://media.printables.com/media/prints/558196/images/4476391_5291ef30-8b78-4b46-8814-29786bf849e4/thumbs/inside/1280x960/webp/tumblr_msd6grr3bx1qk43wto1_500.webp">
</head>
<body>
    <!--Cabeçalho-->
    <header>
        <nav class="nav-sup" id="navbar">
            <img id="logo" src="../static/uploads/ygo-md.webp" alt="logo Yu Gi Oh Master Duel" class="logo-ygo">
            <a id="tutoriais" href="{{ url_for('tutoriais') }}">Tutoriais/Dicas</a>
            <a id="decks" href="{{ url_for('decks') }}">Ver decks</a>
            <a id="index" href="{{ url_for('index') }}"><img src="../static/uploads/Yu-Gi-OhLogo.webp" alt="Logo do Yu Gi Oh" class="logo-central"></a>
            <form id="pesquisa" method="POST">
                <input class="pesquisa" type="search" placeholder="Pesquisar noticia" name="search_not">
                <button type="submit" style="display: none;"></button>
            </form>
            <a id="sobre" href="{{ url_for('sobre') }}">Sobre nós</a>
            <img id="user" onclick="mostarPopup()" class="perfil" src="../static/uploads/perfil.png" alt="Perfil">
        </nav>
    <!-- pop-up -->
    <div id="popup" class="pop_up">
        {% if tipo_user == 'normal' %}
            <section class="user_on">
                <a href="{{ url_for('dados') }}">Dados do usuario</a> <br> <br>
                <a href="{{ url_for('deck_fav') }}">Decks favoritos</a> <br> <br>
                <a class="vermelho" href="/logout">Logout</a>
            </section>
        {% elif tipo_user == 'admin' %}
            <section class="user_on">
                <a href="{{ url_for('dados') }}">Dados do usuario</a> <br>
                <a href="{{ url_for('deck_fav') }}">Decks favoritos</a> <br>
                <a href="{{ url_for('criar_tutorial') }}">Criar tutorial</a> <br>
                <a href="{{ url_for('criar_deck') }}">Criar deck</a> <br>
                <a href="{{ url_for('criar_noticia') }}">Criar noticia</a> <br>
                <a class="vermelho" href="/logout">Logout</a>
            </section>
        {% else %}
            <section class="user_off">
                <p>Você não fez login ainda</p> <br>
                <a href="{{ url_for('login') }}" id="cadastrar_botao">Fazer login/Cadastrar</a>
            </section>
        {%endif%} <br>
        <p id="fechar_popup" onclick="fecharPopup()">Fechar X</p>
    </div>
    <!-- script js -->
    <script>
        function mostarPopup() {
            document.getElementById('popup').style.display='block'
        }

        function fecharPopup(){
            document.getElementById('popup').style.display='none';
        }
    </script>
    </header>
    <!--Corpo principal-->
    <main>
        <section class="inicial">
            <img src="../static/uploads/sobre.jpg" alt="yu gi oh master duel">
            <p class="texto" id="sup">E aí, duelistas!  Sejam muito bem-vindos ao meu site dedicado ao incrível mundo de Yu-Gi-Oh Master Duel! <br>
                Preparem seus decks, ativem suas cartas de armadilha e que o duelo comece!</p>
        </section>
        <section>
            <p id="down" class="texto">Aqui, vocês encontrarão tudo o que precisam para se tornarem mestres do duelo: <br>
            Decks: Análises detalhadas, listas atualizadas e guias completos para os mais diversos arquétipos. <br>
            Ranking: Informações sobre o meta, dicas para subir de rank e análises das principais estratégias utilizadas pelos melhores duelistas. <br>
            Notícias: Fique por dentro de todas as novidades do jogo, desde novos cards e eventos até atualizações e balanceamentos. <br>
            Conteúdo Extra: Artigos, vídeos, entrevistas e muito mais para aprofundar seus conhecimentos e te manter sempre atualizado.</p>
        </section>
    </main>
    <!--Rodape-->
    <footer>
        <p>Esta página foi feito por um fã para outro fã, espero que goste</p>
        <p>&copy; 2025 - Mattheus</p>
    </footer>
</body>
</html>