<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='tutorial.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
</head>
<body>
    <!--Cabeçalho-->
    <header>
        <nav class="nav-sup" id="navbar">
            <img src="../static/uploads/ygo-md.webp" alt="logo Yu Gi Oh Master Duel" class="logo-ygo">
            <a href="{{ url_for('tutoriais') }}">Tutoriais/Dicas</a>
            <a href="{{ url_for('decks') }}">Ver decks</a>
            <a href="{{ url_for('index') }}"><img src="../static/uploads/Yu-Gi-OhLogo.webp" alt="Logo do Yu Gi Oh" class="logo-central"></a>
            <input class="pesquisa" type="search" placeholder="Pesquisar">
            <a href="{{ url_for('sobre') }}">Sobre nós</a>
            <img onclick="mostarPopup()" class="perfil" src="../static/uploads/perfil.png" alt="Perfil">
        </nav>
    <!-- pop-up -->
    <div id="popup" class="pop_up">
        {% if tipo_user == 'normal' %}
            <section class="user_on">
                <a href="{{ url_for('dados') }}">Dados do usuario</a> <br> <br>
                <a href="">Decks favoritos</a> <br> <br>
                <a class="vermelho" href="/logout">Logout</a>
            </section>
        {% elif tipo_user == 'admin' %}
            <section class="user_on">
                <a href="{{ url_for('dados') }}">Dados do usuario</a> <br>
                <a href="">Decks favoritos</a> <br>
                <a href="{{ url_for('criar_tutorial') }}">Criar tutorial</a> <br>
                <a href="{{ url_for('criar_deck') }}">Criar deck</a> <br>
                <a href="{{ url_for('criar_noticia') }}">Criar noticia</a> <br>
                <a class="vermelho" href="/logout">Logout</a>
            </section>
        {% else %}
            <section class="user_off">
                <p>Você não fez login ainda</p> <br>
                <a href="{{ url_for('login') }}" id="cadastrar_botao">Fazer login/Cadastrar</a>
            </section>
        {%endif%} <br>
        <p id="fechar_popup" onclick="fecharPopup()">Fechar X</p>
    </div>
    <!-- script js -->
    <script>
        function mostarPopup() {
            document.getElementById('popup').style.display='block'
        }

        function fecharPopup(){
            document.getElementById('popup').style.display='none';
        }
    </script>
    </header>
    <main class="principal">
        <h1 id="titulo">{{ tutorial.titulo }}</h1>
        <p id="conteudo">{{ tutorial.funcionamento }}</p>
    </main>
</body>
</html>