<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu Gi Oh db</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='tutorial.css') }}">
    <link rel="icon" type="image/webp" href="https://media.printables.com/media/prints/558196/images/4476391_5291ef30-8b78-4b46-8814-29786bf849e4/thumbs/inside/1280x960/webp/tumblr_msd6grr3bx1qk43wto1_500.webp">
</head>
<body>
    <!--Cabeçalho-->
    <header>
        <nav class="nav-sup" id="navbar">
            <img src="../static/uploads/ygo-md.webp" alt="logo Yu Gi Oh Master Duel" class="logo-ygo">
            <a href="{{ url_for('tutoriais') }}">Tutoriais/Dicas</a>
            <a href="{{ url_for('decks') }}">Ver decks</a>
            <a href="{{ url_for('index') }}"><img src="../static/uploads/Yu-Gi-OhLogo.webp" alt="Logo do Yu Gi Oh" class="logo-central"></a>
            <input class="pesquisa" type="text" placeholder="Pesquisar">
            <a href="{{ url_for('sobre') }}">Sobre nós</a>
            <a href="{{ url_for('login') }}"><img class="perfil" src="../static/uploads/perfil.png" alt="Perfil"></a>
        </nav>
    </header>
    <main>
        <h1 class="principal">{ titulo.tutorial }</h1>
        <section>{funcionamento.tutorial }</section>
    </main>
</body>
</html>