/**
* ! Paleta de cores
* * #5a0f19 bege bem escuro
* * #8a3119 bege
* * #945737 marrom claro
* * #ebdacc bege claro
*/
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #8a3119;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    color: white;
    font-size: 25px;
    background-color: #5a0f19;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition-duration: .5s;
}

nav a:hover{
    color: red;
}

nav li{
    transition-duration: .5s;
}

nav li:hover{
    transform: scale(1.2);
}

.capa{
    max-width: 300px;
    max-height: max-content;
    border-radius: 20px;
    margin: 15px 20px 0px 15px;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ebdacc;
}

.texto-destaque{
    /* width: 55%; */
    margin-right: 20px;
}

.texto-destaque p{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
}

.espaco{
    margin: 30px 0px 30px 0px;
    font-size: 50px;
    /* color: white; */
}

.texto-destaque h2{
    font-size: 40px;
}

.vertical{
    transform: rotate(90);
    justify-items: center;
}

.destaque{
    display: grid;
    max-width: 80%;
    height: auto;
    /* color: white; */
    justify-content: center;
    margin-left: 10%;
    background-color: #945737;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 1fr 3fr 2fr;
    border-radius: 20px;
}

.butao{
    background-color: #945737;
    max-width: 80%;
    margin-left: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    border-top: white solid 1px;
    padding-top: 20px;
    grid-column: 2;
}

.butao a{
    transition-duration: .5s;
}

.butao a:hover{
    background-color: #ebdacc;
    color: black;
}

.center a{
    color: #ebdacc;
    text-decoration: none;
    border-radius: 20px;
    font-size: 22px;
    padding: 15px 20px;
    background-color: #5a0f19;
}

.review{
    /* width: 55%; */
    margin-left: 20px;

}

.review h2{
    font-size: 40px;
}

.review h3{
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
}

.review p{
    /* width: 60%; */
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
}

.biblioteca{
    max-width: 40%;
}

.container-livro{
    display: grid;
    /* grid-template-columns: repeat(4, 650px); */
    grid-template-columns: 1fr 1fr;
}

.card{
    background-color: #945737;
    display: flex;
    padding: 10px 10px 20px 10px;
    border-radius: 20px;
    color: white;
    /* height: auto; */
    margin: 30px 30px 0px 30px;
    line-height: 1.5;
    /* transform: scale(.5); */
    transition-duration: 1s;
    margin-bottom: 30px;
}

.texto-bib{
    margin-right: 15px;
}

.card h2{
    font-size: 30px;
    text-align: center;
}

.card p{
    font-size: 21px;
    text-align: justify;
}

.card h3{
    font-size: 20px;
    text-align: right;
}

.sub-botao{
    color: white;
    text-decoration: none;
    font-size: 60px;
    left: calc(50% - 15px);
    top: 50%;
    position: fixed;
}

.sobre-nos{
    display: flex;
    margin: 30px;
    gap: 25px;
}

.biblioteca{
    border-radius: 20px;
}

.texto-sobre-nos{
    color: white;
}

.texto-sobre-nos h1{
    font-size: 50px;
    text-align: center;
}

.texto-sobre-nos p{
    font-size: 30px;
}

.lista{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 100px;
}

.item-list{
    color: white;
    font-size: 30px;
    background-color: #5a0f19;
    padding: 30px;
    border-radius: 20px;
    transition-duration: 1s;
}

.item-list:hover{
    transform: scale(1.5);
}