<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='senha.css') }}">
    <link rel="icon" type="image/webp" href="https://media.printables.com/media/prints/558196/images/4476391_5291ef30-8b78-4b46-8814-29786bf849e4/thumbs/inside/1280x960/webp/tumblr_msd6grr3bx1qk43wto1_500.webp">
</head>
<body class="flex">
    <div class="branco">
        <header>
            <h1 class="rec-senha">Recuperar senha</h1>
        </header>
        <main>
            <form class="form-senha" method="POST">
                <label for="email-ou-nome">Email ou nome:</label>
                <br>
                <input type="text" name="usuario" required placeholder="Digite seu email ou nome">
                <br>
                <button class="rec-senha-b" type="submit">Enviar email</button>
            </form>
            <a class="return" href="{{ url_for('login') }}">⬅︎ Voltar</a>
        </main>
    </div>
    <div>
        <img class="emoje" src="../static/uploads/emoje-esquecido.png" alt="Pessoa esquecida">
    </div>
</body>
</html>